#slide {
    border: 2px solid orange;
    border-radius: 10px;
    display: contents;
}

.col {
    border: 2px solid rgb(96, 125, 192);
    border-radius: 4px;
    
}
#chan1{
    border: 2px solid rgb(96, 125, 192);
    border-radius: 4px;
    box-shadow: 0px 10px 10px 0px #8086c0;
}
#chan2{
    border: 2px solid rgb(96, 125, 192);
    border-radius: 4px;
    box-shadow: 0px 10px 10px 0px #8086c0;
}
#chan3{
    border: 2px solid rgb(96, 125, 192);
    border-radius: 4px;
    box-shadow: 0px 10px 10px 0px #8086c0;
}
#chan4{
    border: 2px solid rgb(96, 125, 192);
    border-radius: 4px;
    box-shadow: 0px 10px 10px 0px #8086c0;
}

#col1 {
    border: 2px solid rgb(96, 125, 192);
    border-radius: 15px;
    box-shadow: 0px 10px 10px 0px #8086c0;
    transition: transform .2s;
}

#col1:hover{
    transform: scale(1.1);
    border: 2px solid rgb(224, 153, 29);
    box-shadow: 0px 10px 10px 0px #f28825;
}

#col2 {
    border: 2px solid rgb(96, 125, 192);
    border-radius: 15px;
    box-shadow: 0px 10px 10px 0px #8086c0;
    transition: transform .2s;
}
#col2:hover{
    transform: scale(1.1);
    border: 2px solid rgb(224, 153, 29);
    box-shadow: 0px 10px 10px 0px #f28825;
}

#col3 {
    border: 2px solid rgb(96, 125, 192);
    border-radius: 15px;
    box-shadow: 0px 10px 10px 0px #8086c0;
    transition: transform .2s;
}
#col3:hover{
    transform: scale(1.1);
    border: 2px solid rgb(224, 153, 29);
    box-shadow: 0px 10px 10px 0px #f28825;
}
.card-title, .card-text{
    text-align: center;
}

#EnterText{
    text-align: center;
}

@media(max-width: 991.98px) {

    #phone {
        display: inline-block;
    }

    .mx-4 {
        margin-top: px;
    }


}

@media(max-width: 399.98px) {
    #channels {
        display: inline-block;
    }

    .mx-4 {
        margin-top: px;
    }
}

@media(min-width: 486px) and (max-width:771.99px) {
    #cat_button {
        margin: 70px;
    }
}

@media (max-width: 485.99px) {
    #in2 {
        display: flex;
    }
}

#out {
    border: 2px solid black;
}

#cat {
    margin-top: 150px;
    border-radius: 100px;
}

@media(max-width: 991.98px) {
    #cat {}
}

#eg {
    border: none;
    margin-right: 120px;
}

#eg1 {
    border: none;
    margin-right: 150px;
}

#gory1 {
    border: none;
}

#gory2 {
    border: none;
}

#menu {
    border: 2px solid black;
    border-radius: 20px;
    /* margin-left: auto; */
    display: -webkit-inline-box;
    width: 210px;
    cursor: pointer;
}

#file_name {
    border: 2PX solid black;
    width: 210px;
    border-radius: 20px;
    display: -webkit-inline-box;
    height: 38px;
    margin-left: auto;
}

#cat_button {
    border-radius: 12px;
}

#cat_button:hover {
    color: lightblue;
    cursor: pointer;
}

.Footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}

#mod {
    opacity: 82%;
    /* width: 500px; */
    /* margin-left: px;
    margin-top: 150px; */
}

#mid_mod {
    border: none;
}

.modal-footer {
    border: none;
}
#chan1{
    border: 3px solid rgb(96, 125, 192);
    box-shadow: 6cap;
    transition: transform .2s;
}
#chan1:hover{
    transform: scale(1.03);
    border: 2px solid rgb(224, 153, 29);
    box-shadow: 0px 10px 10px 0px #f28825;
}
#chan2{
    border: 3px solid rgb(96, 125, 192);
    box-shadow: 6cap;
    transition: transform .2s;
}
#chan2:hover{
    transform: scale(1.03);
    border: 2px solid rgb(224, 153, 29);
    box-shadow: 0px 10px 10px 0px #f28825;
}
#chan3{
    border: 3px solid rgb(96, 125, 192);
    box-shadow: 6cap;
    transition: transform .2s;
}
#chan3:hover{
    transform: scale(1.03);
    border: 2px solid rgb(224, 153, 29);
    box-shadow: 0px 10px 10px 0px #f28825;
}
#chan4{
    border: 3px solid rgb(96, 125, 192);
    box-shadow: 6cap;
    transition: transform .2s;
}
#chan4:hover{
    transform: scale(1.03);
    border: 2px solid rgb(224, 153, 29);
    box-shadow: 0px 10px 10px 0px #f28825;
}
#sac{
    color: #022b02;
}
#sac1{
    color: #022b02;
}
#sac2{
    color: #022b02;
}
#sac3{
    color: #022b02;
}
#sac3:hover{
    color: #087908;
    cursor: grab;
}
#sac2:hover{
    color: #087908;
    cursor: grab;
}
#sac1:hover{
    color: #087908;
    cursor: grab;
}
#sac:hover{
    color: #087908;
    cursor: grab;
}
.uploadImage{
    /* border: 4px solid black; */
    display: flex;
    justify-content: center;
   height: 600px;
}
#upImg{
    /* border: 4px solid rebeccapurple; */
    height: 500px;
    margin: 50px;     
}
#uploadImg{
     border: 3px solid rgb(0, 140, 255);
     border-radius:10px
}
#chooseFile{
    /* border: 3px solid #186584; */
    border-radius: 10px;
}
#loadUp{
    border: 3px solid #186584;
    border-radius: 10px;
    background-color: #53aecb;
}
#upImgLoad{
    border: 3px solid #186584;
    border-radius: 10px;
    background-color: #9ed7e9;
}
#addF{
    border: 3px solid #186584;
    border-radius: 10px;
    background-color: #53aecb;
}
#mVid{
    border: 3px solid #186584;
    border-radius: 10px;
    background-color: #53aecb;
}
#finBt{
    border: 3px solid #186584;
    border-radius: 10px;
    background-color: #53aecb;
}
#images{
    border: 3px solid #186584;
    border-radius: 10px;
    background-color: #cce2e9;
}
/* #textIn{
justify-content: center;
border: 5px solid black;
} */

.steph{
    font-family: 'Antic', sans-serif;
    color: rgba(0, 0, 0, 0.404);
    font-weight: bold;
    padding-top:2.5rem;
    font-size: 1.3rem;
    text-align: center;
}
#text-input{
    width: 100%;
    height: 20rem;
    resize: none;
    background-color: white;
    padding: 4rem 2rem 2rem 2rem;
    border-radius: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border:2px solid rgb(109, 86, 214);
}
#converText{
    border: 3px solid #186584;
    border-radius: 10px;
    background-color: #53aecb;
    margin-left: 585px;
}
#root{
    /* border: 4px solid black; */
    background-color: #c6cbcc8f;
}
#allVid{
    border: 3px solid rgb(98, 98, 186);
    border-radius: 10px;
    justify-content: center;
}
#vid{
    border: 3px solid rgb(98, 98, 186);
    border-radius: 10px;
}
#frame{
    border: 3px solid rgb(0, 140, 255);;
    border-radius: 10px;
}
.button{
    background-color: rgb(255, 255, 255);
    color:rgb(109, 86, 214);
    border: 2px solid rgb(109, 86, 214);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    border-radius: 2.5rem;
    transition: .3s;
    outline-style: none;
    cursor: pointer;
}
.button:enabled{
    background-color: rgb(255, 255, 255);
    color:rgb(109, 86, 214);
    border: 2px solid rgb(109, 86, 214);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    border-radius: 2.5rem;
    transition: .3s;
    outline-style: none;
    cursor: pointer;
}
.button:enabled:hover{
    background-color:rgb(109, 86, 214);
    color:white;    
}
.button:disabled{
    background-color:rgba(255, 255, 255, 0);
    color:rgba(73, 72, 75, 0.4);
    border: 2px solid rgba(73, 72, 75, 0.4);
    cursor: auto;
}
#tarea{
    width: 80%;
    height: 30rem;
    resize: none;
    background-color: white;
    padding: 4rem 2rem 2rem 2rem;
    border-radius: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border:2px solid rgb(109, 86, 214);
}
#converText{
    margin-left: 0;
}
#mergeVid {
    display: flex;
    justify-content: center;
}
#fin{
    display: flex;
    justify-content: center;
}
#createbtn {
background-color: #1f61c1;
box-shadow: 0px 5px 12px 0px #4c59c0;
transition: transform .2s;
}
#createbtn:hover {
background-color: #6a92ce;
transform: scale(1.1);
}
#secat{
    margin-top: 200px;
    margin-bottom: 190px;
}
#upCard1{
    border: 2px solid rgb(96, 125, 192);
    border-radius: 4px;
    box-shadow: 0px 10px 10px 0px #8086c0;
}
#upCard2{
    border: 2px solid rgb(96, 125, 192);
    border-radius: 4px;
    box-shadow: 0px 10px 10px 0px #8086c0;
}
#text-input{
    border: 2px solid rgb(96, 125, 192);
    border-radius: 10px;
    box-shadow: 0px 10px 10px 0px #8086c0;

}
#heading{
    text-shadow: 0px 10px 10px  #8086c0;
    transition: transform .2s;
}
#heading:hover{
    color: #2b38a8;
    text-shadow: 0px 10px 10px  #2b38a8;
    transform: scale(1.1);
}
#ourChan{
    text-shadow: 0px 10px 10px  #8086c0;
    transition: transform .2s;
}
#ourChan:hover{
    color: #2b38a8;
    text-shadow: 0px 10px 10px  #2b38a8;
    transform: scale(1.1);
}
#fbFoot{
    transition: transform .2s;
}
#fbFoot:hover{
    transform: scale(1.2);
}
#tiFoot{
    transition: transform .2s;
}
#tiFoot:hover{
    transform: scale(1.2);
}
#gFoot{
    transition: transform .2s;
}
#gFoot:hover{
    transform: scale(1.2);
}
#iFoot{
    transition: transform .2s;
}
#iFoot:hover{
    transform: scale(1.2);
}
#lFoot{
    transition: transform .2s;
}
#lFoot:hover{
    transform: scale(1.2);
}
#gitFoot{
    transition: transform .2s;
}
#gitFoot:hover{
    transform: scale(1.2);
}
#silde{
 box-shadow: 0px 10px 10px 0px #f1a22bc3;
}